body {
    color: black;
    font-size: 1rem;
    display: grid;
    grid-template-columns: minmax(10%, 20%) 1fr;
}

h1 {
    color: white;
}

li {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}

.icon {
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

.text-icon {
    display: inline-flex;
    align-items: center;
}
/* SIDEBAR */

.sidebar {
    background-color: rgb(39, 168, 237);
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 40px;
    text-align: left;
}

.sidebar h1 {
    margin-bottom: 50px;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar li {
    margin-bottom: 25px;
    padding: 0;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar-extra-links {
    margin-top: 70px;
}

/* MAIN */




.main-content > * {
    padding: 20px 35px;
}
/* Header */

.search-bar {
    display: flex;
    align-items: center;
    width: 50%;
}

input {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    border: 0;
    margin-left: 10px;
    width: 100%;
    padding: 3px 5px;
}

.header {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.user-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.user-name {
    font-weight: 600;
}


/* Subheader */ 
.subheader {
    box-shadow: 0px 17px 20px -10px rgba(0, 0, 0, 0.174);
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
.subheader-links a {
    background-color: rgb(39, 168, 237);
    padding: 8px 20px;
    border-radius: 15px;
    margin-left: 25px;
}

.subheader-links a:hover {
    background-color: rgb(35, 138, 193);
}

.subheader-links a:last-child {
    margin-right: 30px;
}

.welcome {
    display: flex;
    align-items: center;
}


/* Main Section */

.main-section {
    background-color: rgb(231, 231, 231);
}

.project {
    background-color: white;
    border-left: 3px solid rgb(255, 196, 0);
    border-radius: 3px;
    box-shadow: 0px 17px 20px -10px rgba(0, 0, 0, 0.174);
    padding: 20px;
}